* {
    box-sizing: border-box;
}
body {
    background-color: rgb(128, 87, 58);
}
.beige {
    background-color: beige;
    height: 10vh;
}
.negro {
    background-color: black;
    height: 10vh;
}
.cafe {
    background-color: rgba(55, 43, 30, 0.979);
    height: 10vh;
}
.transparente {
    background-color: rgba(55, 43, 30, 0);
    height: 10vh;
}
/* Esto es para la duración individual */
.animate_animated.animate_bounceInDown {
    --animate-duration: 1s;
  }
  .animate_animated.animate_bounceInUp {
    --animate-duration:2.5s;
}
.display-3.text-center.text-white {
    font-family: cursive;
  }
  footer {
    background-color: #856196;
    border-radius: 5px;
  }
  p {
    display: flex;
    justify-content: center;
  }
